# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://cinootwxswktbgndbili.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpbm9vdHd4c3drdGJnbmRiaWxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIzMDY5MzksImV4cCI6MjA2Nzg4MjkzOX0.ll0CQbRzZMYM6h-vfWrzd9x4d4nONHV3zWu5eoXU1QU
